footer {
  background-color: #000; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    position: fixed; /* Para fixar o rodapé na parte inferior da página */
    bottom: 0;
    width: 100%; /* Largura ocupando toda a largura da página */
    height: 75px;
   
  }
  .icon{
    color: rgb(211, 155, 2);
  }

.date{
  position: fixed;;
    bottom: 0px; 
    color: rgb(211, 155, 2);
    padding-left: 1250px;
}